<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
</head>
<body>
<header>
    <h1>Members</h1>
    <nav>
        <ul>
            <li><a href="/member/getAll">All Members</a></li>
            <li><a href="/member/getById/">Get Member By Id</a></li>
            <li><a href="/member/{id}/loans">Member Loans By Id</a></li>
            <li><a href="/member/{id}/reservations">Member Reservations By Id</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Member Page</h2>
</main>
</body>
</html>
